<ng-container *ngIf="courseDetails">
  <p-panel [header]="courseDetails?.courseName">
    <p-fieldset legend="Active Quizzes" styleClass="mb-5">
      <ng-container *ngIf="activeQuizzes.length > 0; else noActiveQuizzesTemplate">
        <p-dataView [value]="activeQuizzes">
          <ng-template let-quiz pTemplate="listItem">
            <div class="col-12">
              <div class="product-list-item">
                <div class="product-list-detail">
                  <div class="product-name">{{ quiz?.quizName }}</div>
                </div>
                <div class="product-list-action">
                  <p-button
                    icon="pi pi-forward"
                    styleClass="p-button-rounded p-button-raised p-button-help"
                    [routerLink]="['/student/quiz', quiz?.quizId]"
                  ></p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </ng-container>
      <ng-template #noActiveQuizzesTemplate>
        <p-message severity="info" text="No Active Quizzes"></p-message>
      </ng-template>
    </p-fieldset>
    <p-fieldset legend="Attempted Quizzes" styleClass="mb-5">
      <ng-container *ngIf="attemptedQuizzes.length > 0; else noAttemptedQuizzesTemplate">
        <p-table [value]="attemptedQuizzes" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Total Marks</th>
              <th>Obtained Marks</th>
              <th>% Marks</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-quiz>
            <tr>
              <td>{{ quiz?.quizName }}</td>
              <td>{{ quiz?.totalMarks }}</td>
              <td>{{ quiz?.obtainedMarks }}</td>
              <td>{{ (quiz?.obtainedMarks / quiz?.totalMarks) * 100 }} %</td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
      <ng-template #noAttemptedQuizzesTemplate>
        <p-message severity="info" text="No Attempted Quizzes"></p-message>
      </ng-template>
    </p-fieldset>
    <p-fieldset legend="All Quizzes">
        <ng-container *ngIf="allQuizzes.length > 0; else noQuizzesTemplate">
            <p-dataView [value]="allQuizzes">
              <ng-template let-quiz pTemplate="listItem">
                <div class="col-12">
                  <div class="product-list-item">
                    <div class="product-list-detail">
                      <div class="product-name">{{ quiz?.quizName }}</div>
                    </div>
                    <div class="product-list-action">
                      <!-- Show Quiz Status -->
                      <p>{{quiz?.quizStatus}}</p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </ng-container>
          <ng-template #noQuizzesTemplate>
            <p-message severity="info" text="No Quizzes Posted"></p-message>
          </ng-template>
    </p-fieldset>
  </p-panel>
</ng-container>
